main {
    display: flex;
    flex-direction: column;
    grid-area: main;
    position: relative;
    background-color: var(--bg-color);
    line-height: 1.5;
    visibility: visible;
    transition: visibility 0s linear 0;
}

.wrapper {
    flex: 1;
    padding: 6.4em 2em 0 2em;
    max-width: calc(1200px - var(--aside-width));
}

@media (min-width: 1200px){
    .wrapper {
        padding-top: 2em;
    }
}
