.page a {
    border-bottom: 1px solid var(--text-color);
}

.page a[href^="http://"]:after, .page a[href^="https://"]:after{
    font-family: 'Material Icons';
    font-weight: normal;
    content: '\a0launch';
    vertical-align: top;
}

.page li {
    padding: .25em;
}

.page ul > li {
    padding-left: .5em;
}

.page ol > li {
    padding-left: 1em;
}