.switch {
    position: relative;
    display: inline-block;
    background-color: var(--bg-color);
    margin: .2rem;
    width: 2rem;
    height: 1rem;
    border-radius: 34px;
    transform-origin: center left;
    transform: scale(1.5);
}

.switch .slider {
    position: absolute;
    content: "";
    background-color: var(--bg-interactive-color);
    height: calc(100% + .2rem);
    width: calc(100% / 2 + .2rem);
    border: .08em solid var(--border-interactive-color);
    top: -.1rem;
    left: -.1rem;
    right: auto;
    border-radius: 50%;
    transition: left .4s;
    cursor: pointer;
}

.switch input:checked + .slider {
    left: calc(50%);
}

.switch input {
    position: absolute;
    appearance: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

@media(min-width: 640px){
    .switch {
        transform: none;
    }
}
