@import-normalize;
:root {
    --aside-width: 16rem;
    --wrapper-padding: 2rem
}

html {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: var(--text-color);
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: var(--bg-accent-color);
}

body.locked {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    margin: 0 0 .8em;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin: 0 0 .4rem;
}

a {
    text-decoration: none;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
    color: inherit;
}

button {
    font-size: inherit;
}

p,
ul,
ol,
table {
    margin: 0 0 1rem;
}

ul {
    list-style-type: disc;
    margin-left: 22px;
    padding: 0;
}

ol {
    list-style-type: decimal;
    margin-left: 18px;
    padding: 0;
}

li > ul {
    padding: 0 0 0 calc(1em + 22px);
    margin: 0;
}

li > ol {
    padding: 0 0 0 calc(1em + 18px);
    margin: 0;
}

dt {
    display: inline;
    font-weight: 600;
}

dd {
    margin-bottom: 1em;
}

pre {
    margin: 0;
}

img {
    margin: 0 auto 1em auto;
    max-width: 100%;
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table img {
    margin: 0;
}

td,
th {
    padding: .5em;
    text-align: left;
    vertical-align: top;
}

th {
    background-color: var(--bg-accent-color);
    color: var(--text-inverted-color);
}

section {
    margin: 0 0 4em;
}

sup {
    vertical-align: super;
    font-size: 0.6em;
}

#root {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 6em 1fr auto;
    grid-template-areas: "header" "main" "footer";
    min-height: 100vh;
    position: relative;
}

.wrapper {
    flex: 1;
    position: relative;
    max-width: 1200px;
}

.overflow-protection {
    margin: 0 0 1rem;
    overflow: auto;
}

.overflow-protection > * {
    margin: 0;
}

@media (min-width: 1200px) {
    body.locked {
        overflow: auto;
    }

    #root {
        grid-template-columns: var(--aside-width) 1fr;
        grid-template-areas: "header header" "aside  main" "footer footer";
    }
}